<div class="cards" *ngFor="let item of cards" cdkDropListGroup>
    <div class="cardTitle">
        <div class="title">
            <label>{{item.name}}</label>
        </div>
        <div class="option">
            <i class="fas fa-ellipsis-h"></i>
        </div>
    </div>
    <div class="card-container">
        <!-- uses brands style -->
        <div cdkDropList [cdkDropListData]="todo" class="card-list" (cdkDropListDropped)="drop($event)">
            <div class="card-box" *ngFor="let work of item.works" cdkDrag>{{work.workName}}</div>
        </div>
    </div>
    <div *ngIf="!showAddCard else add" (click)="show()" class="add-card">
        <div class="add-icon">
            <i class="fas fa-plus"></i>
        </div>
        <div class="lable-add">
            <label>add another work</label>
        </div>
    </div>
</div>

<ng-template #add>
    <form [formGroup]="addWorkFormGroup">
        <div class="card-container">
            <div class="addWork">
                <textarea formControlName="name"></textarea>
            </div>
            <div class="btns">
                <div class="addbtn">
                    <button (click)="addWork()">Add Card</button>
                </div>
                <div class="discardbtn" (click)="show()">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
    </form>
</ng-template>