.cards {
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    width: 25%;
    background-color: #EBECF0;
    border-radius: 5px;
    float: left;
}

.container {
    padding: 5px;
    width: inherit;
    position: absolute;
    height: 100%;
}

.cardTitle {
    color: #213456;
}

.cardTitle label {
    font-weight: 600;
}

.option {
    float: right;
}

.title {
    float: left;
}

.cardTitle i {
    float: right;
    font-weight: 600;
}

.card-container {
    width: 100%;
    float: right;
}

.card-box {
    margin-top: 8px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 13px;
    border-bottom: 1px solid #B2B9C5;
    color: #57667E;
    font-weight: 400;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.card-list.cdk-drop-list-dragging .card-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add-card {
    margin-top: 10px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: start;
    width: 100%;
    border-radius: 5px;
    color: #8E98A9;
    height: 35px;
    font-size: 13px;
    cursor: pointer;
}

.add-card:hover {
    color: rgb(40, 41, 41);
}

.lable-add {
    margin-left: 7px;
}

.addWork {
    width: 100%;
    margin-top: 7px;
}

.addWork textarea {
    border-radius: 5px;
    width: -webkit-fill-available;
    height: 79px;
    border: 1px solid transparent;
    border-bottom: 1px solid #B2B9C5;
}

.btns {
    display: flex;
    width: 100%;
}

.btns button {
    border: 1px solid transparent;
    background-color: #5AAC44;
    width: 94px;
    color: #ffffff;
    height: 40px;
    border-radius: 7px;
    float: left;
}

.discardbtn {
    margin-left: 24px;
    color: #6B778C;
    font-size: 34px;
}