.container {
    width: 100%;
    height: 40px;
    background-color: #0067A3;
}

.headerTop {
    height: 100%;
}

.rightIcon {
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    direction: rtl;
    padding-right: 9px;
}

.leftIcon {
    width: 40%;
    height: 100%;
    float: left;
    direction: ltr;
}

.userName {
    border-radius: 50%;
    width: 7%;
    height: 86%;
    background-color: #DFE1E6;
}

.userName {
    cursor: pointer;
    border-radius: 50%;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86%;
    background-color: #DFE1E6;
}

.notify {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D95BF;
    border-radius: 5px;
    width: 7%;
    height: 86%;
    margin-right: 5px;
    color: #ffffff;
}

.subHeader {
    height: 50px;
    width: 100%;
    background-color: #0079BF;
}

.leftItem {
    float: left;
    height: 100%;
    display: flex;
    width: 60%;
    padding-left: 9px;
    align-items: center;
}

.itemProjectName {
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif
}

.itemStar {
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 100%;
    /* width: inherit; */
    margin-left: 10px;
    background-color: #4D95BF;
    justify-content: center;
    border-radius: 5px;
    width: 5%;
    /* padding: 7px; */
    height: 68%;
}

.diver {
    color: #ffffff;
    margin-left: 9px;
    opacity: .25;
}

.itemTeam {
    color: #ffffff;
    padding-left: 9px;
    font-size: 12px;
}

.privateTeam {
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 100%;
    /* width: inherit; */
    margin-left: 10px;
    background-color: #4D95BF;
    justify-content: center;
    border-radius: 5px;
    width: 17%;
    /* padding: 7px; */
    font-size: 13px;
    height: 68%;
}

.privateTeam .icon {
    flex: auto;
    padding-left: 19px;
}

.privateTeam .name {
    float: right;
    padding-right: 19px;
}

.topCreate {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B2B9C5;
    height: 41px;
}

.baordCreate {
    width: 304px;
    height: 269px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 158px;
    cursor: pointer;
    border-radius: 5px;
    direction: ltr;
    color: #959EAE;
}

.icon {
    margin-right: 16px;
}

.label {
    width: -webkit-fill-available;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 4px;
}

ul li {
    padding: 5px;
}

ul li:hover {
    background-color: #EBECF0;
}

.svg:not(:root).svg-inline--fa {
    margin-right: 12px !important;
}

.titleIcon {
    color: #172B4D;
}

.titleIcon label {
    color: #172B4D;
    padding-left: 5px;
    font-size: 13px;
}

.itemDesription p {
    padding: 0px;
    margin: 7px;
    font-size: 10px;
    line-height: 1.5;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

form {
    display: flex;
    align-items: center;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 25rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.labelForm {
    width: inherit;
}

.teamForm {
    display: flex;
    float: left;
    width: -webkit-fill-available;
    align-items: center;
    margin-top: 12px;
}

.teamForm input {
    border-radius: 5px;
    border: 1px solid thistle;
    padding: 10px;
}

.input {
    margin-left: 10px;
}

.button {
    margin-left: 13px;
}

.button button {
    background-color: #87C540;
    border-radius: 5px;
    height: 32px;
    border: 1px solid transparent;
    color: #ffffff;
}