<div class="container">
    <div class="headerTop">
        <div class="rightIcon">
            <div class="userName">
                <strong>K</strong>
            </div>
            <div class="notify">
                <i class="far fa-bell"></i>
            </div>
            <div class="notify">
                <i class="far fa-info-circle"></i>
            </div>
            <div class="notify" (click)="showCreateMenu()">
                <i class="fas fa-plus"></i>
            </div>
            <div *ngIf="show" class="baordCreate">
                <div class="topCreate">
                    <div class="label">
                        <label>Create</label>
                    </div>
                    <div class="icon" (click)="showCreateMenu()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="menuTop">
                    <ul>
                        <li (click)="toggleModal('Board')">
                            <div class="itemTitle">
                                <div class="titleIcon">
                                    <i class="fab fa-trello"></i>
                                    <label>Create Board</label>
                                </div>
                                <div class="itemDesription">
                                    <p>A board is made up of cards ordered on lists. Use it to manage projects, track information, or organize anything.</p>
                                </div>
                            </div>
                        </li>
                        <li (click)="toggleModal('Team')">
                            <div class="itemTitle">
                                <div class="titleIcon">
                                    <i class="fas fa-user-friends"></i>
                                    <label>Create Team</label>
                                </div>
                                <div class="itemDesription">
                                    <p>A team is a group of boards and people. Use it to organize your company, side hustle, family, or friends.</p>
                                </div>
                            </div>
                        </li>
                        <li (click)="toggleModal('Buasines')">
                            <div class="itemTitle">
                                <div class="titleIcon">
                                    <i class="fas fa-bullseye"></i>
                                    <label>Create Buasines Team</label>
                                </div>
                                <div class="itemDesription">
                                    <p>With Business Class your team has more security, administrative controls, and unlimited Power-Ups.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="leftIcon">

        </div>
    </div>
</div>
<div class="subHeader">
    <div class="rightItem">

    </div>
    <div class="leftItem">
        <div class="itemProjectName">
            <label>Kianoush Trello Project</label>
        </div>
        <div class="itemStar">
            <i class="far fa-star"></i>
        </div>
        <span class="diver">|</span>
        <div class="itemTeam">
            <label>Private Team</label>
        </div>
        <span class="diver">|</span>
        <div class="privateTeam">
            <div class="icon">
                <i class="fas fa-lock"></i>
            </div>
            <div class="name">
                <label>Private Team</label>
            </div>
        </div>
        <span class="diver">|</span>
    </div>
</div>

<div class="modal">
    <div class="modal-content">
        <div *ngIf="team">
            <div class="topCreate">
                <div class="label">
                    <label>Create Team</label>
                </div>
                <div class="icon" (click)="toggleModal()">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="teamForm">
                <form [formGroup]="addTeam">
                    <div class="labelForm">
                        <strong>  <label>Team Name  </label></strong>
                    </div>
                    <div class="input">
                        <input formControlName="TeamName">
                    </div>
                    <div class="button">
                        <button (click)="AddTeam()">Add Team</button>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="board">
            <div class="topCreate">
                <div class="label">
                    <label>Create Board</label>
                </div>
                <div class="icon" (click)="toggleModal()">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="teamForm">
                <form [formGroup]="addBoard">
                    <div class="labelForm">
                        <strong><label>Board Name  </label></strong>
                    </div>
                    <div class="input">
                        <input formControlName="BoardName">
                    </div>
                    <div class="button">
                        <button (click)="AddBoard()">Add Board</button>
                    </div>
                </form>

            </div>
        </div>
        <div *ngIf="busines">
            <div class="topCreate">
                <div class="label">
                    <label>Create Busines</label>
                </div>
                <div class="icon" (click)="toggleModal()">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="teamForm">
                <form [formGroup]="addBusines">
                    <div class="labelForm">
                        <strong>  <label>Board Name  </label> </strong>
                    </div>
                    <div class="input">
                        <input formControlName="BusinesName">
                    </div>
                    <div class="button">
                        <button (click)="AddBusines()">Add Busines</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>